/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #E3F2FD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#mycanvas{
    background-color: #212837;
    background-color: #ccc;
} 